.toolbar {
    height: auto !important;
    min-height: 55px !important;
}

#main-toolbar #activity-button {
    background-image: url(../activity/activity-icon.svg);
}

#main-toolbar #game-templates-button {
    background-image: url(../icons/memorize-collection.svg);
}

#main-toolbar #game-size-button {
    background-image: url(../icons/4x4.svg);
    background-size: contain !important;
    background-repeat: no-repeat !important;
}

#main-toolbar #game-reset-button {
    background-image: url(../icons/game-new.svg);
}


#main-toolbar #game-editor-button {
    background-image: url(../icons/cog.svg);
}

#main-toolbar #game-editor-insert-mode-button {
    background-image: url(../icons/pair-equals.svg);
}

#main-toolbar #game-editor-play-mode-button {
    background-image: url(../icons/grouped_game1.svg);
}

#main-toolbar #game-editor-clear-button {
    background-image: url(../icons/edit-clear.svg);
}

#game-templates-button {
    background-repeat: no-repeat;
    background-position: center center;
}

#game-players {
    background: #005983;
    position:fixed;
    bottom:0;
    width:100%;
    height:56px;
}


.palette .wrapper {
    min-width: 10px;
    padding: 5px;
}

input[type='text'] {
    color: #000 !important;
}

textarea {
    color: #000 !important;
}

#canvas {
  background-color: #38a4dd;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
