.card-div {
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-background-size: contain;
    background-position: center center;
}

.text-card {
    text-align: center;
    display: block;
    border-radius: 6px;
    border: 1px solid #000;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.full-card {
    border: 3px solid rgb(255, 255, 255);
    border-radius: 6px;
    margin: 5px;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    position: relative;
    float: left;
}

.front-card {
    background-color: #777;
    border-radius: 6px;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    left: 0px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}

.back-card {
    background-color: #fff;
    border-radius: 6px;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    left: 0px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
