.card-div {
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-background-size: contain;
    background-position: center center;
}

.text-card {
    text-align: center;
    vertical-align: middle;
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.full-card {
    border: 3px solid rgb(255, 255, 255);
    border-radius: 6px;
    margin: 5px;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    position: relative;
    float: left;
}

.front-card {
    background-color: #777;
    border-radius: 6px;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    left: 0px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}

.back-card {
    background-color: #fff;
    border-radius: 2px;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    left: 0px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.edit-card-box {
    margin-left: 25px;
    float: left;
    margin-top: 7px;
}

.edit-card {
    background: rgb(119, 119, 119);
    border: 4px solid #000;
    border-radius: 9px;
    color:  #fff;
    text-align: center;
    vertical-align: middle;
    background-size: 100%;
    background-repeat: no-repeat no-repeat;
    background-position: 50% 50%;
}

.card-list {
    text-align: center;
    vertical-align: middle;
    color: #fff;
    margin: 2px;
    background-color: #666;
    border-radius: 6px;
    background-size: 100%;
    background-repeat: no-repeat no-repeat;
    background-position: 50% 50%;
}

.edit-button {
    text-align: center;
    padding: 5px;
    background: transparent;
}

.card-btns-container {
    padding-top: 5px;
    display: table;
    table-layout: fixed;
    width: 100%;
}

.edit-button:hover {
    background: #888;
}

.play-sound-button {
    text-align: center;
    position: absolute;
    top: 5px;
    background: #aaa;
    left: 5px;
    background-image: url("../icons/play.svg");
    background-repeat: no-repeat;
    background-size: 80% 80%;
    background-position: 60% 40%;
}

.play-sound-button:hover {
    background: #888;
    background-image: url("../icons/play.svg");
    background-repeat: no-repeat;
    background-size: 80% 80%;
    background-position: 60% 40%;
}

.card-list-container {
    position: fixed;
    bottom: 0;
    padding; 10px;
    padding-bottom: 20px;
    margin-top: 7px;
    background: #eee;
    overflow-x: auto;
    white-space: nowrap;
    overflow-y: hidden;
}

#io-div {
    display: none;
}

.ask-name-dialog {
    background-color: #fff;
    border-color: black;
    z-index: 10;
    padding: 20px;
    position: relative;
    top: 100px;
    width: 50%;
    border-radius: 20px;
    margin: auto auto;
    border-style: solid;
}

.ask-name-dialog .card-btns-container {
    border-spacing: 30px 5px;
}
.ask-name-dialog .edit-button{
    background-color: #ccc;
    border-radius: 10px;
}
